
.topbar{
    /* height: 5%; */
    color: white;
    background-color: #f98282;
    /* background-color: #cd84f1; */
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
    margin-bottom: 0px;
    /* font-family: 'Montserrat', sans-serif; */
    padding-left: 1.5rem;
    
}

.FullDivision{
    padding-bottom: 5rem;
    margin-bottom: 5rem;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    
}

.MainDivisionSid{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.belowtopbar
{
    text-align: center;
background-color: #fa9a9a;
color: white;
font-weight: bolder;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
height: 30%;
padding: 2.8% 0 2.8% 0;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.image-handle{
    text-align: center;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem;
}

.welcome-area
{
    width: 40%;
}

.text-area{
    color: black;
    text-align: left;
    padding-top: 2rem;
}

.image-area{
    padding-top: 2rem;
    padding-left: 7rem;

}

.welcome-image
{
    
    text-align: center;
    height: 25rem;
    width: 33rem;
}

.key-features{
    font-size: large;
    font-weight: bolder;
}


.features{
    padding-bottom: 0.5rem;
}

.forh1{
    font-weight: bolder;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
}

.forbutton{
    text-align: center;
    padding-top: 2rem;
}

.headingheadddd
{
    font-weight: 650;
}

.textSelect
{
    text-align: left;
}

.OptionDivision{
    padding: 0 5%;
}

.feelingText{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Recursive', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}

.imageButtons{
    padding-left: 20rem;
}

.link {
    color: #FFF;
  }
  .link:hover {
    color:gainsboro;
  }

.level-text{
    font-size: 1.5rem;
    
    padding-bottom: 0.8rem;
    padding-top: 1.2rem;
}

.nextButton{
    text-align: center;
    padding-top: 2rem;
    margin-right: 15rem;
}

.formula{
    background-color:#dedede;
    width: 60%;
    margin-left: 7.5rem;
    
}

.center{
    text-align: center;
}

.text1{
    padding-top: 2rem;
}

.text2{
    padding-top: 2rem;
}

.credittttt{
    padding-top: 2rem;
}

.creditText
{
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.paratext{
    text-align: left;
    font-weight: 100;
    font-size: 1rem;
    color: gray;
    margin-top: -1.4rem;
    padding-left: 28.5rem;
}

.helptext{
    margin-top: -1.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.checkboxesssss{
    padding-left: 12rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.challengeeeee{
    padding-top: 2rem;
}

.colour-box{
    background-color: #dedede;
}

.special
{
    position: fixed;
}

.rewardText
{
    padding-top: 2rem;
    font-weight: bold;
}

.timetext
{
    padding-top: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.timebutton
{
    margin-top: 2rem;
}

.timetext2
{
    padding-top: 1rem;
}

.salutationtext{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Lobster Two', cursive;
    font-size: 1.5rem;
    font-weight: 100;
}

.quotetext{
    margin-top: 1rem;
    font-family: 'Qwigley', cursive;
    font-size: 1.8rem;
    text-align: center;
}

.slidertexttttttttttt
{
    color: gray;
    margin-top: -1rem;
}

.jobtext
{
    font-weight: 700;
    margin-top: 1.2rem;
}

.reviewText
{
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.handlesidddddddd
{
    margin-left: 7.3rem;
    padding-top: 1.7rem;
}

.finaletext
{
    font-family: 'Lobster Two', cursive;
    font-size: 1.4rem;
}