.Head{
    width: 100%;
    height: 150px;
    background: #f98282;
}
h1{
    color: white;
    
}
.MainDivision{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.SubDivision{
    display: flex;
    justify-content: space-evenly;
}
.MainCard{
    width: 22%;
    height: 350px;
    margin-top: 20px;
    box-shadow: 0 0 3px gray;
    padding-bottom: 20px;
}

.Card-image{
    height: 50%;
}
.doctorimage{
    width: 100%;
    height: 100%;
}
.Card-body{
    padding: 5px;
    text-align: center;
}
.DoctorsName{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 545;
}
.DoctorsExp{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.DoctorsQual{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.Timing{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.Fees{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}
.round-button-doctor {
    display:block;
    width:80px;
    height:25px;
    line-height:22px;
    border: 0.01px solid #f98282;
    border-radius: 5px;
    color:#f98282;
    letter-spacing: 1px;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    font-size:14px;
    font-weight:500px;
    margin: 0 auto;

}
.round-button-doctor :hover {
    background: #f98282;
    color: white;
    transform: scale(1.1);
    text-decoration: none;
}