.TrackMainContainer{
    width: 76%;
    margin-left: 295px;
    display:block;
    box-shadow: 0 0 10px #ffc4c6;
    margin-bottom: 20px;
}
.TrackContainer{
    margin-bottom:0px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.TrackCardContent{
    justify-content: space-between;
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
}

.Description{
    padding-top: 15px;
    width: 60%;
}

.cardHeader6{
    text-transform: capitalize;
    font-size: 22px;
    padding-right: 355px;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #333;
    text-align: left;
    padding-left: 35px;
}

.DescriptionContent{
    font-size: 20px;
    color: black;
    font-weight: 350;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    padding-bottom: 40px;
}
.TrackImage{
    width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  border:  0px solid gainsboro;

}

.TrackImageContainer{
    padding-left: 20px;
    padding-right: 20px;
}


.round-button {
    display:block;
    width:180px;
    height:35px;
    line-height:35px;
    border: 0.01px solid #f98282;
    border-radius: 5px;
    color:#f98282;
    letter-spacing: 1px;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    font-size:18px;
    font-weight:500;
    margin: 0 auto;
}
.round-button:hover {
    background: #f98282;
    color: white;
    text-decoration: none;
    transform: scale(1.05); 
    

}